/* .courseList .card-footer {
    
} */

/* hr {
    margin-top: 30px;
} */

.absolute-hr {
    position: absolute;
    top: 70%;
    left: 5%;
    width: 90%;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 14rem);
    grid-template-rows: 225px;
    /* grid-auto-rows: minmax(100px, auto); */
    column-gap: 10px;
}

.one {
    position: relative;
    grid-column: 1;
    border-radius: 10px;
    padding: 25px;
    border: 1px solid black;
}

.two {
    position: relative;
    grid-column: 2;
    border-radius: 10px;
    padding:25px;
    border: 1px solid black;
}

.three {
    position: relative;
    grid-column: 3;
    border-radius: 10px;
    padding:25px;
    border: 1px solid black;
}

.four {
    position:relative;
    grid-column: 4;
    border-radius: 10px;
    padding:25px;
    border: 1px solid black;
}

.times {
    position: absolute;
    bottom: 2px;
}