/* .courseList .card-footer {
    
} */

/* hr {
    margin-top: 30px;
} */

.absolute-hr {
    position: absolute;
    top: 70%;
    left: 5%;
    width: 90%;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 14rem);
    /* grid-auto-rows: minmax(100px, auto); */
    column-gap: 10px;
    row-gap: 10px;
}

.item {
    height:225px;
    position: relative;
    border-radius: 10px;
    padding: 25px;
    border: 1px solid black;
}

.times {
    position: absolute;
    bottom: 2px;
}